.TodoItem {
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
}

.TodoItem:nth-child(2n) {
  background: #f7f7f7;
}

.TodoItem span {
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

.TodoItem:hover span {
  width: 40px;
  opacity: 1;
}
